@import url(https://db.onlinewebfonts.com/c/7a9ddc1b445c1713f7ad1cf3de47edd7?family=Agency+FB); 
@font-face {
  font-family: "AgencyFB";
  src: url("/fonts/AGENCYB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Agency FB";
  src: url("https://db.onlinewebfonts.com/t/7a9ddc1b445c1713f7ad1cf3de47edd7.eot");
  src: url("https://db.onlinewebfonts.com/t/7a9ddc1b445c1713f7ad1cf3de47edd7.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/7a9ddc1b445c1713f7ad1cf3de47edd7.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/7a9ddc1b445c1713f7ad1cf3de47edd7.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/7a9ddc1b445c1713f7ad1cf3de47edd7.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/7a9ddc1b445c1713f7ad1cf3de47edd7.svg#Agency FB")format("svg");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
